<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        
#registrationForm {
    display: none; /* Initially hide the registration form */
  }
    </style>
</head>
<body>
    
    <section class="main">

        <div class="head">
            

               <h4 id="msg"> <%= message %> </h4>
     
 
    </section> 
        
    <h3 class="footer1">&copy; Group 7 Assignment 2024</h3>
 
</body>


</html>
       
