<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="/css/inner.css">

</head>
<body>
    <form method="get">
        <a id="logout" href="/logout">Log out</a>
    </form>
    <section class="main">


        <div class="head">
            
            <section class="logo">
                <img src="/img/img.png" alt="logo">
                <h1>Payment History</h1>
            </section>

      
                
                <br>
                <div class="input-group">
                    <label for="amount">Name:</label>
                    <input type="text" id="amount" name="amount" value="" disabled>
                </div>
                <div class="input-group">
                    <label for="amount">Email:</label>
                    <input type="text" id="amount" name="amount" value="" disabled>
                </div>
                <div class="input-group">
                    <label for="amount">Phone:</label>
                    <input type="text" id="amount" name="amount" value="" disabled>
                </div>
                <div class="input-group">
                    <label for="amount">Amount:</label>
                    <input type="text" id="amount" name="amount" value="" disabled>
                </div>
                <div class="input-group">
                    <label for="amount">Current Level</label>
                    <input type="text" id="amount" name="amount" value="" disabled>
                </div>
                <div class="input-group">
                    <label for="amount">Description</label>
                    <input type="text" id="amount" name="amount" value="" disabled>
                </div>
                <div class="input-group">
                    <button type="submit" class="payment-btn"> Print </button>
                </div>
            </form>
  

    </section> 
    <h3 class="footer1">&copy; Group 7 Assignment</h3>
</body>
</html>
